@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Rose:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
	display: flex;
    justify-content: center;
	padding-top: 0;
	background: white;
	width: 100%;
	max-width: 1280px;
	height: 1280px;
	
	margin-top: -1210px;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 30px, inset rgba(0,0,0,0) 0px -10px 20px;
}

.logo {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 20px;
	padding-top: 1220px;

}

.logo img {
	width: 100%;
	height: auto;
	max-width: 80px;
}

/* PAGE */

body{
background:#f3f3f3;
font-family:'Urbanist',sans-serif;
}


/* HERO SECTION */



 h1{
font-family:'Playfair Display',serif;
font-size:60px;
font-weight:300;
color:#333;
display: flex;
	height:200px;


	justify-content: center;
	align-items: center;
}


/* PROJECT SECTION */

.projects{
/*max-width:1100px;*/
margin:auto;
display:flex;
flex-direction:column;
/*gap:40px;*/
padding:40px 0px 100px;
}


/* PROJECT CARD */

.project-card{
display:flex;
justify-content:space-between;
align-items:center;
background:#ffffff;
padding:40px;
border-radius:16px;
box-shadow:0 -10px 30px rgba(0,0,0,0.2);
/*gap:40px;*/
}


/* TEXT SIDE */

.project-text{
flex:1;
}

.project-text h2{
	font-family:'Playfair Display',serif;

font-size:28px;
margin-bottom:10px;
}

.project-text p{
color:#666;
line-height:1.6;
margin-bottom:20px;
}


/* BUTTON */

.btn{
display:inline-block;
padding:10px 18px;
background:black;
color:white;
text-decoration:none;
border-radius:6px;
font-size:14px;
transition:0.3s;
}

.btn:hover{
background:#333;
}


/* IMAGE */

.project-image{
flex:1;
}

.project-image img{
width:100%;
border-radius:12px;
box-shadow:0 6px 20px rgba(0,0,0,0.2);
}


/* MOBILE */

@media (max-width:768px){

.project-card{
flex-direction:column;
text-align:center;
}

.project-image{
width:100%;
}

.hero h1{
font-size:40px;
}

}

.back-btn{
	width: 15%;
/*display:inline-block;*/
display: flex;
align-items: center;
justify-content: center;
padding:10px 18px;
color: black;
text-decoration:none;
border-radius:6px;
font-family:'Urbanist',sans-serif;
font-size:14px;
transition:0.3s;
}

.back-btn:hover{
background:#777;
transform:translateY(-2px);
}

.back-to-top {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  padding:10px 18px;
  border-radius:6px;

}

.back-to-top:hover {
  background:#777;
  transform: translateY(-2px);
}

.footer{
	border-top: 3px solid rgba(0, 0, 0, 0.2);

}

.footer-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom:30px;

}

li{
	margin-bottom:-20px;
	line-height: 0.5;
}
